ion-card {
    --background: var(--ion-color-light);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehicleItem {

    // padding-inline: 10px;
    ion-img {
        object-fit: cover;
        height: 100px;
        margin: -10px;
    }
}

.retired {
    --background: var(--ion-color-danger);
    --color: var(--ion-color-light);

    ion-card-title,
    ion-card-subtitle {
        color: var(--ion-color-light);
    }

    ion-icon {
        color: var(--ion-color-light);
    }
}

@media (max-width: 767px) {
    ion-card-title {
        font-size: 1rem;
    }

    .vehiclesItem {
        padding-inline: 3px;
    }
}