<ion-card>
    <ion-card-header>
        <ion-card-title>{{"providers.providersPage.title" | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list div class="card-list">
            <ion-row class="header">
                <ion-col>{{"providers.providersPage.listName" | translate}}</ion-col>
                <ion-col>{{"providers.providersPage.listCategory" | translate}}</ion-col>
                <ion-col>{{"providers.providersPage.listPhone" | translate}}</ion-col>
            </ion-row>
            <app-provider-item *ngFor="let provider of (localDataSvc.providers$ | async)" [provider]="provider"
                (onEditProviderClicked)="onEditProviderClicked(provider)">
            </app-provider-item>
        </ion-list>
    </ion-card-content>
</ion-card>
<ion-fab-button class="providerFab" aria-label="Create provider" (click)="onCreateProviderClicked()">
    <ion-icon name="add-outline"></ion-icon>
</ion-fab-button>