ion-card {
    margin: 20px;
    padding: 20px;
    color: white;
}

ion-icon {
    padding-right: 10px;
}

.card {
    width: 50vw;
}

@media (max-width: 767px) {
    .card {
        width: 100vw;
    }
}