.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
}

.fully {
    height: 100vh;
}

.fullx {
    width: 100vw;
}

img {
    width: 30vh;
    min-width: 100px;
}

ion-text {
    text-align: center;
}

ion-spinner {
    margin-top: 16px;
    width: 100px;
    height: 100px;
}