<ion-list>
    <ion-item>
        <ion-select label="{{'home.spentForm.providerTitle' | translate}}" [value]="selectedProvider"
            interface="action-sheet" placeholder="{{'home.spentForm.provider.selectCategory' | translate}}"
            cancelText="{{'ui.cancel' | translate}}" >{{selectedProvider}}
            <ion-select-option *ngFor="let provider of providers" [value]="provider">{{provider.name | upperCamelCase}}
            </ion-select-option>
        </ion-select>
    </ion-item>
</ion-list>