<ion-list>
    <ion-item>
        <ion-select label="{{'home.spentForm.providerTitle' | translate}}" [value]="selectedProvider"
            placeholder="{{'home.spentForm.provider.selectProvider' | translate}}"
            cancelText="{{'ui.cancel' | translate}}" (ionChange)="onProviderChange($event)">
            <ion-select-option *ngFor="let provider of providers"
                [value]="provider">{{provider.name | upperCamelCase}}</ion-select-option>
        </ion-select>
    </ion-item>
</ion-list>