.active {
    --background: var(--ion-color-tertiary);
    --color: white;
}

.center-v {
    align-items: center;
}

.end-h {
    justify-content: end;
}

.in-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 150px;
    margin-inline: 45px;
}

.flags {
    width: 25px;
}

.button {
    cursor: pointer;
}

.avatar {
    margin-left: 55px;
}