ion-content {
    display: flex;
    justify-content:center;
    align-items:flex-start;
}

ion-card-title {
    color: var(--ion-color-tertiary);
    font-weight: bold;
}

.header {
    background-color: var(--ion-color-tertiary);
    color: white;
    padding: 5px 15px;
    font-size: 1.1rem;
    border-radius: 10px 10px 0px 0px;

    img {
        width: 20px;
        filter: invert(1);
    }
}

.charts-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.charts-container {
    width: 25vw;
    min-width: 100px;
    max-width: 1200px;
}

@media (max-width: 767px) {
    .header {
        display: none;
    }

    .charts-line {
        flex-direction: column;
    }

    .charts-container {
        width: 80vw;
    }
}