<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{"administration.administrationTitle" | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="charts-line">
                <div class="charts-container">
                    <p-chart type="pie" [data]="data1" [options]="options"></p-chart>
                </div>
                <div class="charts-container">
                    <p-chart type="bar" [data]="data2" [options]="options"></p-chart>
                </div>
                <div class="charts-container">
                    <p-chart type="line" [data]="data3" [options]="options"></p-chart>
                </div>
            </div>
            <ion-list div class="card-list">
                <ion-row class="header">
                    <ion-col size="2">{{"administration.username" | translate}}</ion-col>
                    <ion-col size="2">{{"administration.name" | translate}}</ion-col>
                    <ion-col size="2">{{"administration.surname" | translate}}</ion-col>
                    <ion-col size="3">{{"administration.email" | translate}}</ion-col>
                    <ion-col class="ion-text-center"><img src="assets/icon/icon-car.png"></ion-col>
                    <ion-col class="ion-text-center"><img src="assets/icon/icon-motorcycle.png"></ion-col>
                    <ion-col class="ion-text-center"><img src="assets/icon/icon-van.png"></ion-col>
                    <ion-col class="ion-text-center"><img src="assets/icon/icon-truck.png"></ion-col>
                    <ion-col class="ion-text-center"><img src="assets/icon/icon-list.png"></ion-col>
                </ion-row>
                <app-user-list-item *ngFor="let user of (users$ | async)" [user]=user></app-user-list-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>