.input {
    margin: 10px 0px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    flex-direction: column;
}

.hidden {
    display: none;
}
.date-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}