:root {
    --ion-color-primary: #020887;
    --ion-color-primary-rgb: 2, 8, 135;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #020777;
    --ion-color-primary-tint: #1b2193;

    --ion-color-secondary: #334195;
    --ion-color-secondary-rgb: 51, 65, 149;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #2d3983;
    --ion-color-secondary-tint: #4754a0;

    --ion-color-tertiary: #647AA3;
    --ion-color-tertiary-rgb: 100, 122, 163;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #586b8f;
    --ion-color-tertiary-tint: #7487ac;

    --ion-color-success: #22e9ba;
    --ion-color-success-rgb: 29, 211, 176;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #1aba9b;
    --ion-color-success-tint: #34d7b8;

    --ion-color-warning: #FFBA49;
    --ion-color-warning-rgb: 255, 186, 73;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0a440;
    --ion-color-warning-tint: #ffc15b;

    --ion-color-danger: #9E0031;
    --ion-color-danger-rgb: 158, 0, 49;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #8b002b;
    --ion-color-danger-tint: #a81a46;

    --ion-color-light: #E6EAEF;
    --ion-color-light-rgb: 230, 234, 239;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #caced2;
    --ion-color-light-tint: #e9ecf1;

    --ion-color-medium: #A8B6C7;
    --ion-color-medium-rgb: 168, 182, 199;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #94a0af;
    --ion-color-medium-tint: #b1bdcd;

    --ion-color-dark: #202832;
    --ion-color-dark-rgb: 32, 40, 50;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1c232c;
    --ion-color-dark-tint: #363e47;
}

html {
    --ion-dynamic-font: var(--ion-default-dynamic-font);
}