ion-card {
    width: 300px;
}

.computer-mode {
    display: block;
}

.mobile-mode {
    display: none;
}

.fieldTitle {
    background-color: var(--ion-color-tertiary);
    color: white;
    padding: 0px 10px;
    margin: 0px 10px;
    min-width: 100px;
}

@media (max-width: 767px) {
    .computer-mode {
        display: none;
    }

    .mobile-mode {
        display: block;
        padding: -10px;
    }

    .edit-button {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}