.computer-mode {
    display: block;
}

.mobile-mode {
    display: none;
}

.admin {
    width: 25px;
    filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(100%);
}

@media (max-width: 767px) {
    .computer-mode {
        display: none;
    }

    .mobile-mode {
        display: block;
        padding:10px;
    }

    .header {
        background-color: var(--ion-color-tertiary);
        border-radius: 10px 10px 0px 0px;
        color: white;
        margin-top: 10px;

        img {
            filter: invert(1);
            width: 20px;
        }
    }

    .admin {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        z-index: 1000;
    }
}