<ion-card [ngClass]="{'not-available': !vehicle?.available}">
    <ion-row class="ion-justify-content-center">
        <ion-card-title>{{vehicle?.brand |upperCamelCase}} {{vehicle?.model | upperCamelCase}}</ion-card-title>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-card-subtitle>{{vehicle?.plate | uppercase}}</ion-card-subtitle>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-card-subtitle *ngIf="vehicle?.available">{{"vehicles.vehicleItem.available" |
            translate}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="!vehicle?.available" class="no-available">{{"vehicles.vehicleItem.notAvailable" |
            translate}}</ion-card-subtitle>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-card-subtitle *ngIf="vehicle?.category === 'car'"> {{'vehicles.vehicleItem.car' | translate}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="vehicle?.category === 'motorbike'"> {{'vehicles.vehicleItem.motorbike' | translate}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="vehicle?.category === 'van'"> {{'vehicles.vehicleItem.van' | translate}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="vehicle?.category === 'truck'"> {{'vehicles.vehicleItem.truck' | translate}}
        </ion-card-subtitle>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-card-subtitle>
            {{ 'vehicles.vehicleItem.registrationDate' | translate }}:
            {{ vehicle?.registrationDate?.toString() | date:"dd/MM/yy" }}
        </ion-card-subtitle>
    </ion-row>
</ion-card>